* {
    margin: 0;
    padding: 0;
}
/*body * {*/
/*    display: block;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*}*/

div {
    margin: 2%;
    height: 3%;
}

.half {
    width: 49%;
}

.body {
    margin: 0;
    padding: 0;
    width: 720px;
    height: 1280px;
    background: rgb(192, 192, 192);
}

.base_info {
    height: 43%;
}
.role_title {
    height: 4%;
    color: white;
    background: gray;
}
.role_icon {
    margin: 0 0 2% 0;
    background: white;
    float: left;
    height: 75%;
    background-size: 100% 100%;
}
.role_arms {
    margin: 0;
    background: grey;
    float: left;
    height: 22%;
}
.role_arms_img {
    float: left;
    height: 88.5%;
    width: 25%;
    background-size: 100% 100%;
}
.role_arms_info {
    float: left;
    width: 65%;
    height: 90%;
}

.role_attr_list {
    margin: 0;
    background: yellow;
    float: right;
    height: 100%;
}
.role_attr {
    margin: 0;
    width: 100%;
    height: 7.7%;
    font-weight: bold;
    font-size: 150%;
    line-height: 100%;
}
.role_rank_and_skill {
    height: 12%;
    color: white;
    background: gray;
}
.role_rank_list {
    float: left;
    background: yellow;
    margin: 0;
    height: 100%;
    width: 25%;
}
.role_skill_list {
    background: yellow;
    float: right;
    margin: 0;
    height: 100%;
    width: 75%;
}
.role_ranks {
    margin: 1%;
    float: left;
    width: 16.6%;
    height: 30%;
}
/*.role_skill_list {*/
/*    background: yellow;*/
/*    height: 5.5%;*/
/*}*/
.role_skill_img {
    background: white;
}
.role_skill_info {
}
.role_equip_list {
    margin: 0;
    height: 36.5%;
}

.role_equip {
    margin: 0;
    float: left;
    background: rebeccapurple;
    width: 30.7%;
    height: 48.5%;
}
.equip_img{
    margin: 5%;
    float: left;
    background: gold;
    height: 33%;
    width: 33.8%;
    background-size: 100% 100%;
}
.equip_info{
    margin-top: 5%;
    float: left;
    width: 52%;
    height: 33%;
}

.equip_main_attr {
    font-weight: bold;
    font-size: 110%;
}

.equip_attr{
    margin: 0;
    float: left;
    height: 13.3%;
    width: 100%;
    border-top: 1px solid black;
}
.equip_attr div {
    padding-top: 2%;
}
.lf_text{
    margin: 0 0 0 6%;
    width: 40%;
    height: 100%;
    float: left;
    text-align: left;
    line-height: 100%;
    font-size: 140%;
}
.rg_text{
    margin: 0 6% 0 0;
    width: 40%;
    height: 100%;
    float: right;
    text-align: right;
    line-height: 100%;
    font-size: 120%;
}
.equip_name {
    height: 60%;
    font-weight: bolder;
    font-size: 135%;
    line-height: 100%;
}

.title {
    height: 40%;
    line-height: 100%;
    font-weight: bolder;
    font-size: 200%;
}


.sub_title {
    font-weight: bold;
    font-size: 130%;
}

.context {
    font-size: 110%;
}

.center {
    display:flex;
    justify-content: center;
    align-items:center;
}
.square {
    background: white;
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
}